<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- AppSettings para configuraciones de la aplicación -->
  <appSettings>
    <!-- Credenciales Raspberry Pi (UtilRaspberry) -->
    <!-- Valores por defecto si no están configurados: usuario="pi", password="raspberry" -->
    <add key="RaspUsername" value="pi" />
    <add key="RaspPassword" value="raspberry" />

    <!-- Ruta para imágenes (UtilImage) -->
    <add key="ImagePath" value="D:\HTMLFOTOS\ImgEmpleados" />

    <!-- GUID interno para encriptación (UtilEncription) -->
    <add key="GuidInternalDLL" value="c2095be7-491f-4aec-99d6-debe6b3ac6db" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>